<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= employee.title %>
  </p>

</div>
